<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="Sample03">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="Sample03"
            class="sample03.views.SampleView"
            id="sample03.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="sample03.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="sample03.editor.SampleEditor"
            contributorClass="sample03.editor.SampleEditorContributor"
            extensions="txt"
            icon="icons/sample.gif"
            id="Sample03.editor1"
            name="SampleEditor">
      </editor>
      <editor
            class="sample03.editor.MyTextEditor"
            contributorClass="sample03.editor.SampleEditorContributor"
            extensions="java"
            icon="icons/sample.gif"
            id="Sample03.editor2"
            name="MyTextEditor">
      </editor>
   </extension>

</plugin>
