<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="Sample03">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="Sample03"
            class="metricsplugin.views.SampleView"
            id="sample03.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="sample03.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="metricsplugin.editor.SampleEditor"
            contributorClass="metricsplugin.editor.SampleEditorContributor"
            icon="icons/sample.gif"
            id="Sample03.editor1"
            name="SampleEditor">
      </editor>
      <editor
            class="metricsplugin.editor.MyTextEditor"
            contributorClass="metricsplugin.editor.SampleEditorContributor"
            icon="icons/sample.gif"
            id="Sample03.editor2"
            name="MyTextEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution 	
    locationURI="menu:org.eclipse.ui.main.menu?after=additions">
    <menu id="nu.mine.kino.plugin.newaction.menus.sampleMenu"  label="Metrics">
      <command commandId="metrics.sample" 
        label="Inheritance Tree" style="push">
      </command>
      <separator name="sepa02" visible="true" />
      <command commandId="nu.mine.kino.plugin.samples.rcp.command" 
        label="Dependance Graph" style="push">
      </command>
    </menu>
  	</menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="サンプル・カテゴリー"
            id="com.example.eclipse.plugin.hello2.commands.category">
      </category>
      <command
            name="サンプル・コマンド"
            categoryId="com.example.eclipse.plugin.hello2.commands.category"
            id="com.example.eclipse.plugin.hello2.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="metrics.sample"
            class="metricsplugin.handler.MyHandler">
      </handler>
   </extension>
</plugin>
